streamlit
langchain
langchain-community
chromadb
pypdf
python-dotenv
docx2txt
ollama
fastembed
unstructured[all-docs]
pdf2image
pytesseract
pillow
python-magic
rank-bm25
transformers
sentence-transformers
requests
